In [6]:
import pandas as pd
import matplotlib.pyplot as plt
# plt.style.use('seaborn-whitegrid')
import seaborn


df = pd.read_csv('gedichtenGGD_STCN.csv', sep=';', index_col=0)
print(df.shape)

(3933, 27)

In [7]:
print(df.head(5))

   Jaar             Bruidegom                         Bruid          Drukker  \
0
1  1691  Samuel van der Lanen      Maria Magdalena Meermans    Reinier Leers
2  1738     Jacobus Willemsen      Elizabeth Verwout Noiret  Petrus Dathenus
3  1744         Johan Schorer  Petronella Maria de Beaufort  Petrus Dathenus
4  1693       Pieter Koolaert             Elizabeth Hoofman        Lescailje
5  1702         Herman Lufneu                  Anna Amsincq       Barent Bos

      Plaats                 Auteur1                 Auteur2  \
0
1      Hoorn           Pieter Rabus                      NaN
2  Amsterdam       Pieter de La RuÃ«        Johannes Plevier
3  Amsterdam   David Fiers Kappeine       Johan Steengracht
4        NaN    Katharina Lescailje   David van Hoogstraten
5      Wesel  David van Hoogstraten            Willem Rabus

                   Auteur3              Auteur4                     Auteur5  \
0
1                      NaN                  NaN                         NaN
2           Isaac Schorer      Nicolaus Barkey   Johannes Nicolaas Treytel
3  Lucas Frederik Schorer      Petrus Dathenus
4            Joan Pluimer   Hermannus Angelkot                 Jacob Storm
5                      NaN                  NaN                         NaN

    ...    Auteur13 Auteur14 Auteur15 Auteur16 Auteur17 Auteur18 Auteur19  \
0   ...
1   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN
2   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN
3   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN
4   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN
5   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN

  Auteur20 Auteur21 Auteur22
0
1      NaN      NaN      NaN
2      NaN      NaN      NaN
3      NaN      NaN      NaN
4      NaN      NaN      NaN
5      NaN      NaN      NaN

[5 rows x 27 columns]

In [5]:
print(df.columns)

Index(['0', 'Jaar', 'Bruidegom', 'Bruid', 'Drukker', 'Plaats', 'Auteur1',
       'Auteur2', 'Auteur3', 'Auteur4', 'Auteur5', 'Auteur6', 'Auteur7',
       'Auteur8', 'Auteur9', 'Auteur10', 'Auteur11', 'Auteur12', 'Auteur13',
       'Auteur14', 'Auteur15', 'Auteur16', 'Auteur17', 'Auteur18', 'Auteur19',
       'Auteur20', 'Auteur21', 'Auteur22'],
      dtype='object')

In [ ]:
df.groupby('Drukker').count().sort_values()